@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Lexend+Tera|Montserrat|Open+Sans+Condensed:300|PT+Serif|Parisienne&display=swap");

html,
body {
  background-color: #e0dfe5;
}

* {
  font-family: "PT Serif", serif;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.overflow-hidden {
  overflow: hidden;
}
